html {
  font-size: 16px;
}

body {
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  margin: 20px 0;
}

#header_img {
  background-color: white;
  border-radius: 3px;
  margin: 20px auto;
  max-width: 90%;
}

#header_img img {
  margin-top: 30px;
  height: 600px;
  width: 1000px;
}

#header_img figcaption {
  padding-bottom: 15px;
}

main {
  padding: 15px;
}

main h2 {
  padding-bottom: 25px;
}

ul {
  max-width: 800px;
  margin: 0 36.5%;
  padding: 0;
  text-align: left;
}

ul li {
  margin-bottom: 20px;
}

ul li span {
  font-weight: 550;
}

main p {
  max-width: 800px;
  margin: 20px 36%;
  text-align: justify;
  line-height: 1.6;
}

#quote {
  padding-top: 30px;
}

footer h2 {
  font-size: 1.2rem;
  margin-top: 30px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ul {
  margin: 0 35%;
}

main p {
  margin: 0px 36.5%;
}

li,
main p {
  text-align: left;
  padding-bottom: 30px;
} */

/*li:not(:last-child) {
  margin-bottom: 50px;
}*/
