html {
  font-size: 16px;
}

body {
  background-color: rgb(224, 224, 224);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

header h1 {
  font-weight: bolder;
}

#header_img {
  background-color: white;
  border-radius: 3px;
}

#header_img img {
  margin-top: 30px;
  height: 600px;
  width: 1000px;
}

#header_img p {
  padding-bottom: 15px;
}

main h2 {
  padding: 30px;
}

ul {
  margin: 0 35%;
}

main p {
  margin: 0px 36.5%;
}

li,
main p {
  text-align: left;
  padding-bottom: 30px;
}

/*li:not(:last-child) {
  margin-bottom: 50px;
}*/
